body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
p {
  margin: 25px 0;
  color: rgb(82, 75, 75);
}

.flexiable_container {
  display: flex;
  margin-left: 130px;
  margin-top: 40px;
}

.half_of_container {
  width: 50%;
}
.half_of_container img {
  width: 60%;
}

.common_color {
  color: orange;
}

.link_button {
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  background-color: tomato;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* personal section  */

.personal_text_area {
  padding-top: 85px;
  padding-right: 120px;
}

.text_header {
  border-left: 3px solid tomato;
  padding-left: 15px;
}

/* mission section */

.mission_section {
  margin-top: 20px;
}

.mission_header {
  text-align: center;
}

.mission_container {
  display: flex;
  margin-left: 130px;
  margin-right: 130px;
}

.mission_item {
  width: 30%;
  padding: 15px 25px;
  margin: 27px 30px;
  border-radius: 20px;
}

.mission {
  background-color: #edf5f6;
}
.vission {
  background-color: #ffeeee;
}

.goal {
  background-color: #fff5d6;
}

.mission_item img {
  width: 40%;
}
